{% liquid
  assign ss = section.settings
  assign countdown_year = ss.countdown_year
  assign countdown_month = ss.countdown_month
  assign countdown_day = ss.countdown_day
  assign countdown_hour = ss.countdown_hour
  assign welcome_message = ss.welcome_message | escape
  assign final_message = ss.final_message | escape
%}

{% if countdown_year != blank and countdown_month != blank and countdown_day != blank and countdown_hour != blank %}
  {{ 'counter.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'counter.js' | asset_url }}" defer></script>

  <section class="counter" data-date="{{ countdown_year }},{{ countdown_month }},{{ countdown_day }},{{ countdown_hour }}">
    <div class="counter__inner">

      <h4 class="counter__welcome-message h0">
        {{ welcome_message }}
      </h4>

      <div class="counter__wrapper">
        <div class="counter__time-holder is-days">
          <span class="counter__time-data days h1"></span>
          <span class="counter__time-helper h1">
            Days
          </span>
        </div>

        <div class="counter__time-holder">
          <span class="counter__time-data hours h1"></span>
          <span class="counter__time-helper h1">
            Hours
          </span>
        </div>

        <div class="counter__time-holder">
          <span class="counter__time-data minutes h1"></span>
          <span class="counter__time-helper h1">
            Minutes
          </span>
        </div>

        <div class="counter__time-holder">
          <span class="counter__time-data seconds h1"></span>
          <span class="counter__time-helper h1">
            Seconds
          </span>
        </div>
      </div>

      <h4 class="counter__final-message h0">
        {{ final_message }}
      </h4>

    </div>
  </section>

{% endif %}

{% schema %}
  {
    "name": "Counter",
    "class": "section section__counter",
    "settings": [
      {
        "type": "header",
        "content": "Counter"
      },
      {
        "type": "textarea",
        "id": "welcome_message",
        "label": "Counter Message",
        "default": "Hurry up you have just:"
      },
      {
        "type": "textarea",
        "id": "final_message",
        "label": "Counter Final Message",
        "default": "Sorry, you ran out of time!"
      },
      {
        "type": "range",
        "id": "countdown_year",
        "label": "Select Year",
        "min": 2023,
        "max": 2029,
        "default": 2023,
        "step": 1
      }, {
        "type": "range",
        "id": "countdown_month",
        "label": "Select Month",
        "min": 1,
        "max": 12,
        "default": 1,
        "step": 1
      }, {
        "type": "range",
        "id": "countdown_day",
        "label": "Select Day",
        "min": 1,
        "max": 31,
        "default": 1,
        "step": 1
      }, {
        "type": "range",
        "id": "countdown_hour",
        "label": "Select Hour",
        "min": 0,
        "max": 24,
        "default": 0,
        "step": 1
      }
    ],
    "presets": [
      {
        "name": "Counter",
        "category": "Content"
      }
    ]
  }
{% endschema %}